.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etchasketch {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 50px, solid, red;
    border-width: 50px 50px 100px 50px;
    background-color: antiquewhite;
}